.heading{
    padding-left: 170px;
    padding-top: 20px;
    padding-right: 270px;
}
.bookHead{
    align-items: center; 
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .booksCount{
    margin-top: 5px;
    margin-left: 5px;
    color: #9D9D9D;
  }