<div class="layout">
    <div fxLayout="row">
      <span class="home" routerLink="/dashboard/getAllBooks">Home / </span><span style="color: black; font-weight: 500;">My
        Cart</span>
    </div>
    <!-- cart details -->
    <div class="count" fxLayout="column" fxLayoutAlign="center start">
      <div class="cart-detail" fxLayout="row" fxLayoutAlign="space-between center">
        <span style="color: black; font-weight: 500;">My Cart({{cartlist?.length}})</span>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select>
            <mat-option>Location 1</mat-option>
            <mat-option>Location 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <span class="empty-item" *ngIf="cartlist?.length<1">Cart is Empty</span>
      <div class="item" *ngFor="let cart of cartlist" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <div>
            <img class="book-image" [src]="cart?.bookImage"
              width="90px" height="110px">
          </div>
          <div class="book-details" fxLayout="column" fxLayoutAlign="start start">
            <h3 class="bookName">{{cart?.bookName}}</h3>
            <span class="authorName">by {{cart?.authorName}}</span>
            <div fxLayout="row" style="margin-bottom: 10px;">
              <div><span class="discountPrice">Rs. {{cart?.discountPrice}}</span></div>
              <div><span class="originalPrice">Rs. {{cart?.originalPrice}}</span></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-stroked-button (click)="decreaseQty(cart.cartId, cart.bookQuantity)" 
                [disabled]="cart.bookQuantity==1"><i class="material-icons">&#xe15b;</i></button>
              <span class="cartQty">{{cart?.bookQuantity}}</span>
              <button mat-stroked-button (click)="increaseQty(cart.cartId, cart.bookQuantity)" 
                [disabled]="cart.bookQuantity==4"><i class="material-icons">&#xe145;</i></button>
              <button mat-stroked-button  style="margin-left: 25px;" (click)="removeFromCart(cart.cartId)"> Remove</button>
            </div>
          </div>
        </div>
        <button class="place-order-button" mat-flat-button color="primary" (click)="stepUp()">Place Order</button>
      </div>
    </div>
</div>
