<div class="container" fxLayout="row" fxLayoutAlign="center center">

    <div class="logo-img">
        <img class="img1" src="../../../assets/logo-img.png">
        <p class="text">ONLINE BOOK SHOPPING</p>
    </div>

    <div class="register-login" fxLayout="column" fxLayoutAlign="space-evenly center">

        <div class="header" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="82px">
            <div>
                <button class="login" routerLink="/login">LOGIN</button>
            </div>
            <div class="signup-div">
                <button class="signup">SIGNUP</button>
                <span class="highlight1"></span>
            </div>
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="fullName" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>Full Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="fullname" style="height:35px;width:252px;">
                    <mat-error>Enter valid Name</mat-error>
                </mat-form-field>
            </div>

            <div class="emaiId" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>Email Id</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="email" formControlName="email" style="height:35px;width:252px;">
                    <mat-error>Enter valid email</mat-error>
                </mat-form-field>
            </div>

            <div class="password" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>Password</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
                        <mat-icon style="color:#9D9D9D">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Enter valid password</mat-error>
                </mat-form-field>
              </div>

            <div class="mobileNumber" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>Mobile Number</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="email" formControlName="mobile" style="height:35px;width:252px;">
                    <mat-error>Enter valid mobile number</mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button type="submit" class="btn-primary"
                style="background-color: #A03037;">Signup</button>
        </form>
    </div>
</div>