.header{
    background-color: #A03037;
    height: 60px;
  }
  .logo{
    margin-left: 180px;
    cursor: pointer;
  }
  .logo-name{
    padding-bottom: 5px;
  }
  .text{
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 5px;
    padding-top: -5px;
    cursor: pointer;
  }