<div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="bookHead" fxLayout="row" fxLayoutAlign="start center">
          <span style="font-size: 22px; font-weight: 500;">Books</span>
          <span class="booksCount">({{totalbooks}} items)</span>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>{{sortBy}}</mat-label>
          <mat-select>
            <mat-option (click)="relevence()">Sort by relevence</mat-option>
            <mat-option (click)="PriceLowToHigh()">Price -- Low to High</mat-option>
            <mat-option (click)="PriceHighToLow()">Price -- High to low</mat-option>
            <mat-option (click)="newestFirst()">Newest First</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
</div>