mat-error {
    height: 17px;
    text-align: left;
    font: normal normal normal 8px/10px Roboto;
    letter-spacing: 0px;
    color: #FF001C;
    margin-top: -5px;
}

.container {
    background-color: #000000 0% 0% no-repeat padding-box;
    ;
    width: 1366px;
    height: 568px;
    overflow: hidden;
    position: relative;
}

.img1 {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    //margin-left: 50px;
    padding: 52px 53px;
}

.logo-img {
    position: relative;
    z-index: 1;
    width: 624px;
    height: 391px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
}

.register-login {
    position: absolute;
    z-index: 2;
    margin-left: 450px;
    width: 389px;
    height: 425px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.text {
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: uppercase;
    margin-top: -10px;
    margin-left: 80px;
}

.login {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #878787;
    border: none;
    background: transparent;
}

.signup {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    border: none;
    background: transparent;
    color: #0A0102;
}

.highlight1 {
    width: 30px;
    height: 6px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}


.btn-primary {
    width: 252px;
    height: 37px;
    /* UI Properties */
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
    border: transparent;

    margin-top: 15px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.forgot-password{
    display: flex;
    justify-content: flex-end;
    padding:-10px;
    
  }
  .forget-link{
    margin-top: 10px; 
    color: #9D9D9D;
    padding-top: 18px;
    font-size: 12px;
    cursor: pointer;
}
  
  .btn-facebook{
    padding: 15px 10px 15px 10px;
    font-size: 16px;
    width: 100%;
    margin-right: 5px;
    border:1px grey;
    background-color: #F5F5F5;
    border-radius: 3px;
  }
  .btn-google{
    font-size: 16px;
    width: 100%;
    margin-left: 5px;
    background-color: #E4E4E4;
    border:1px grey;
    border-radius: 3px;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .devider{
    display: flex;
    justify-content: center;
    margin: 20px;
    color:black;
    font-size: 18;
    font-weight: 500;
  }
  .password{
    height:42px;
  }
  input .emailInput{
    height: 37px;
    width:292px;
  }

  // ::ng-deep .mat-form-field-flex {
  //   height: 45px !important;
  //   margin-top: 0px !important;
  //   align-items: center !important;
  // }
//    ::ng-deep .mat-form-field-wrapper{
//      padding: 0px;
//    }
//   // input.mat-input-element {
//   //   margin-bottom: 8px;
//   // }

//   .emaiId{
//     height:35px;
//     width:252px;
//   }

//   ::ng-deep .mat-mdc-text-field-wrapper {
//     height: 35px;
//     flex: 252px;
// }