<div class="layout">
    <div fxLayout="row">
      <span class="home" routerLink="/dashboard/getAllBooks">Home / </span>
      <span style="color: black; font-weight: 500;">My Orders</span>
    </div>
    <div class="count" fxLayout="row" fxLayoutAlign="space-between center">
      <span style="color: black; font-weight: 500;">My orderlist({{orderlist?.length}})</span>
    </div>
    <span class="item" *ngIf="orderlist?.length<1" fxLayoutAlign="center center">No Orders</span>
    <div class="item" *ngFor="let item of orderlist" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <div>
            <img class="book-image" [src]="item?.bookImage" width="90px" height="110px">
        </div>
        <div class="book-details" fxLayout="column" fxLayoutAlign="start start">
            <h3 class="bookName">{{item?.bookName}}</h3>
            <span class="authorName">by {{item?.authorName}}</span>
            <div fxLayout="column" style="margin-bottom: 10px;">
                <div><span class="originalPrice">Quantity {{item?.orderQty}}</span></div>
                <div><span class="discountPrice">Rs. {{item?.totalPrice}}</span></div>
            </div>
        </div>
    </div>
      
    </div>
  </div>
