<div class="container" fxLayout="column">

    <div class="header" fxLayout="row" fxLayoutAlign="start center">
      <div class="logo">
        <img src="../../../assets/education.png" routerLink="/home">
      </div>
      <div class="logo-name">
        <span class="text" routerLink="/home">Bookstore</span>
      </div>
    </div>
  
    <div class="body" fxLayout="column" fxLayoutAlign="center center">

      <div class="forgot" fxLayout="column" fxLayoutAlign="center center">
        <span class="forgot-pass">Reset Your Password?</span>
      </div>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="rectangle" fxLayout="column" fxLayoutAlign="center center">

            <div class="password" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>New Password</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" style="width: 292px;">
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
                        <mat-icon style="color:#9D9D9D">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error style="height: 22px;">Enter valid password</mat-error>
                </mat-form-field>
            </div>
            
            <div class="confirm-password" fxLayout="column" fxLayoutAlign="start start">
                <mat-label> Confirm Password</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="inputClass">
                    <button mat-icon-button type="button" matSuffix (click)="hide = !hide">
                        <mat-icon style="color:#9D9D9D">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error style="height: 22px;">Enter valid password</mat-error>
                </mat-form-field>
            </div>
              

            <button  type="submit" class="btn-primary" color="primary">Reset Password</button>
        </div>

        <div class="create-account">
          <button mat-flat-button class="btn" routerLink="/registerLogin">CREATE ACCOUNT</button>
        </div>

      </form>
    </div>
  
  </div>

